#wrap{
    width: 50%;
    border: 1px solid whitesmoke;
    box-sizing: border-box;
    margin-left: 20%;
    padding-left: 20px;
}
#information p{
    float: left;
    padding-right: 20px;
    margin-top: 0px
}
#contact{
    clear: both;
}
#contact p{
    float: left;
    padding-right: 20px;
    margin-top: 0px
}
#ability{
    clear: both;
}
#ability p{
    margin-top: -10px;
}
#technical{
    margin-bottom: 25px;
}
#education p{
    margin-top: -10px; 
}
#course{
    margin-bottom: 25px;
}
#project p{
    margin-top: -10px;
}
#bubu{
    margin-bottom: 25px;
}